@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansMedium';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #2990d0;
}
body{
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 100px;
    background: #fff;
    font-family:'GyeonggiTitleM';
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap; 
    position:fixed;
    top:0;
    z-index: 4;   
}
header nav{
    margin-right: 100px;
}
.header-logo{
    padding-left: 200px;
    padding-right: 200px;
    width: 500px;
    height: 100px;
    float: left;
}
.header-logo > img {
    width: 500px;
    height: 100px;
}
.meinMenu{
    width: 50%;
    height: 100%;
    display:flex;
    white-space: nowrap;
}
.mainMenu > a{
    width: 50%;
    padding: 40px 40px;
    text-align: center;
    font-size: 20px;
    color:#2990d0;
}
.mainMenu > a:hover{
    color: #000000;
    font-size: 28px;
}
.command{
    margin-top: 100px;
    margin-left: 260px;
    height: 1150px;
    float: left;
}
.command button{
    width: 200px;
    height: 50px;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.command button:hover{
    color: #fff;
}
.command button:focus{
    outline: none;
}
.command button::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    border-radius: 8px;
    top: 100%;
    transition: all 0.2s;
    z-index: -1;
}
.command button:hover::before{
    transform: translateY(-100%);
}
.content{
    margin-top: 100px;
    width: 70%;
    margin-left: 40px;
    float: right;
    display: none;
    animation: fadein 1s;
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.images{
    margin-top: 10px;
}
.images > img{
    width: 99%;
    border-radius: 10px;
}
.h1tag{
    font-size: 40px;
}
.Exp{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.explanation{
    font-size: 20px;
    margin-top: 10px;
}
.U{
    font-size: 30px;
    margin-top: 200px;
    margin-bottom: 10px;
}
.use{
    font-size: 20px;
    margin-top: 10px;
}
.main{
    width: 180px;
    height: 840px;
    text-align: center;
}
footer{
    font-family: 'GmarketSansMedium';
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: darkgray;
    float: left;
}
.footer-logo > img{
    width: 300px;
    height: 100px;
    float: left;
    padding-top: 0.3%;
    margin-left: 16.5%;
    margin-right: 5%;
}
.copyright{
    width: 24%;
    text-align: right;
    color: white;
    padding-left: 10%;
    font-size: 15px;
}
.footer-mainMenu {
    width: 700px;
    height: 40%; 
    display: flex;
    justify-content: space-between;
    align-items:center;
    position:relative;
    font-size: 18px;
    color: #000000;
  }
  .footer-mainMenu > h3{
    width:20%;
    text-align: left;
    color:#000000;
  }
  
  .footer-subMenu{
    width: 750px;
    display:flex;
    justify-content: space-between;
    position:absolute;
    top:55px;
    z-index:1;
    
  }
  .footer-subMenu > ul{
    width:25%;
    text-align: left;
  }
  .footer-subMenu > ul > li > a{
    color: #333536;
  }
  .footer-subMenu > ul > li > a:hover{
    color:#ffffff;
  }
  .more-btn{
    display: none;
  }
  @media screen and (min-width:320px) and (max-width:412px){
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
  }
  @media screen and (min-width:412px) and (max-width:500px){
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
  }
  @media screen and (min-width:500px) and (max-width:580px){
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
  }
  @media screen and (min-width:600px) and (max-width:700px){
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
  }
  @media screen and (min-width:768px) and (max-width:820px){
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
  }
  @media screen and (min-width:900px) and (max-width:1024px){
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
  }
  @media screen and (min-width:1024px) and (max-width:1200px){
    .command{
        margin: 0;
        margin-left:100px;
        margin-top: 100px;
    }
    .content{
        width: 65%;
    }
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    footer{
        font-family: 'GmarketSansMedium';
        bottom: 0;
        width: 100%;
        height: 150px;
        background-color: darkgray;
    }
    .footer-logo > img{
        width: 250px;
        height: 100px;
        float: left;
    }
    .copyright{
        width: 40%;
        text-align: left;
        color: white;
        font-size: 13px;
    }
    .footer-mainMenu {
        width: 400px;
        height: 40%; 
        display: flex;
        justify-content: space-between;
        align-items:center;
        position:relative;
        font-size: 15px;
        color: #000000;
      }
      .footer-mainMenu > h3{
        width:20%;
        text-align: left;
        color:#000000;
      }
      
      .footer-subMenu{
        width: 430px;
        display:flex;
        justify-content: space-between;
        position:absolute;
        top:55px;
        z-index:1;
        
      }
      .footer-subMenu > ul{
        width:25%;
        text-align: left;
      }
      .footer-subMenu > ul > li > a{
        color: #333536;
      }
      .footer-subMenu > ul > li > a:hover{
        color:#ffffff;
    
      }
  }
  @media screen and (min-width:1200px) and (max-width:1440px){
  }