@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
body{
    width: 1000px;
}
header{
    width: 200px;
    float: left;
    height: 650px;
    background-color: #ccc;
}
header > nav{
    width: 100%;
}
.main{
    width: 180px;
    text-align: center;
    margin: auto;
}
.content{
    width: 800px;
    margin-left: 200px;
    height: 650px;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 650px;
}