@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    width: 100%;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansMedium';
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    max-width: 100%;
    height: 14900px;
    background-color: #000;
}
header{
    width: 100%;
    height: 100px;
    background: #000;
    font-family:'GyeonggiTitleM';
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap; 
    position:fixed;
    top:0;
    z-index: 4;   
}
i{
    color: #fff;
    font-size: 50px;
}
header nav{
    margin-right: 100px;
}
.header-logo{
    padding-left: 200px;
    padding-right: 200px;
    width: 500px;
    height: 100px;
    float: left;
}
.header-logo > img {
    width: 500px;
    height: 100px;
}
.meinMenu{
    width: 50%;
    height: 100%;
    display:flex;
    white-space: nowrap;
}
.mainMenu > a{
    width: 50%;
    padding: 40px 40px;
    text-align: center;
    font-size: 20px;
    color:#2990d0;
}
.mainMenu > a:hover{
    color: #fff;
    font-size: 28px;
}
.Introduction{
    margin-top: 100px;
    width: 100%;
    height: 850px;
    color: #fff;
    font-size: 50px;
    float: left;
    text-align: center;
    padding-top: 50%;
}
.lwh{
    width: 50%;
    float: left;
    height: 50%;
}
.lwh-contents{
    width: 50%;
    float: right;
    height: 50%;
}
.lcm{
    width: 50%;
    float: left;
    height: 50%;
}
.lcm-contents{
    width: 50%;
    float: right;
    height: 50%;
}
img{
    width: 80%;
    height: 80%;
}
.int{
    width: 100%;
    float: left;
    height: 600px;
    padding-left: 40%;
}
section h2{
  color: #fff;
  font-size: 28px;
}
.int-two{
    width: 100%;
    float: right;
    height: 600px;
}

footer{
    font-family: 'GmarketSansMedium';
    width: 100%;
    height: 150px;
    background-color: darkgray;
    float: left;
    
}
.footer-logo{
    width: 300px;
    margin: 0;
    padding: 0;
    height: 0;
}
.footer-logo > img{
    width: 300px;
    height: 100px;
    float: left;
    padding-top: 0.3%;
    margin-left: 95%;
    margin-right: 60%;
}

.copyright{
    width: 24%;
    text-align: right;
    color: white;
    padding-left: 10%;
    font-size: 15px;
    height: 40px;
}
.footer-mainMenu {
    width: 700px;
    height: 40%; 
    display: flex;
    justify-content: space-between;
    align-items:center;
    position:relative;
    font-size: 18px;
    color: #000000;
  }
  .footer-mainMenu > h3{
    width:20%;
    text-align: left;
    color:#000000;
  }
  
  .footer-subMenu{
    width: 750px;
    display:flex;
    justify-content: space-between;
    position:absolute;
    top:55px;
    z-index:1;
    
  }
  .footer-subMenu > ul{
    width:25%;
    text-align: left;
  }
  .footer-subMenu > ul > li > a{
    color: #333536;
  }
  .footer-subMenu > ul > li > a:hover{
    color:#ffffff;
  }
  .more-btn{
    display: none;
  }
.lwh{
    height: 6600px;
}
.lcm{
    height: 6600px;
}
@media screen and (min-width:320px)and (max-width:375px) {
    header{
        width: 100%;
        height: 100px;
    }
    .header-logo{
        width: 100%;
        height: 100px;
        padding-left: 1%;
        margin-top: 20px;
    }
    .header-logo > img{
        width: 200px; 
        height: 70%;
    }
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 100px;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 20px;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 24px;
        height: 24px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    footer{
        width: 100%;
        height: 150px;
        bottom: 0;
        font-size: 20px;
    }
    .footer-logo{
        margin-left: 70px;
    }
    .footer-logo > img{
        width: 100px;
        height: 40%;
        display: none;
    }
    .copyright{
        text-align: center;
        width: 80%;
        height: 35px;
        padding-top: 70px;
        font-size: 10px;
    }
    .footer-mainMenu {
        width: 300px;
        height: 40px;
        position:relative;
        font-size: 1px;
        color: #000000;
      }
      .footer-mainMenu > h3{
        width:20%;
        text-align: left;
        color:#000000;
      }
      
      .footer-subMenu{
        width: 320px;
        display:flex;
        justify-content: space-between;
        position:absolute;
        top:35px;
        z-index:1;
      } 
}
@media screen and(min-width:375px)and(max-width:412px){
    header{
        width: 100%;
        height: 100px;
    }
    .header-logo{
        width: 100%;
        height: 100px;
        padding-left: 1%;
        margin-top: 20px;
    }
    .header-logo > img{
        width: 300px; 
        height: 70%;
    }
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 100px;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    footer{
        width: 100%;
        height: 150px;
        bottom: 0;
        font-size: 20px;
    }
    .footer-logo{
        margin-left: 70px;
    }
    .footer-logo > img{
        width: 100px;
        height: 40%;
        display: none;
    }
    .copyright{
        text-align: center;
        width: 80%;
        height: 35px;
        padding-top: 70px;
        font-size: 10px;
    }
    .footer-mainMenu {
        width: 300px;
        margin-left: 13%;
        height: 40px;
        position:relative;
        font-size: 10px;
        color: #000000;
      }
      .footer-mainMenu > h3{
        width:20%;
        text-align: left;
        color:#000000;
      }
      
      .footer-subMenu{
        width: 320px;
        display:flex;
        justify-content: space-between;
        position:absolute;
        top:35px;
        z-index:1;
      } 
  }

@media screen and (min-width:412px) and (max-width:500px){
    body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    header{
        width: 100%;
        height: 100px;
    }
    .header-logo{
        width: 100%;
        height: 100px;
        padding-left: 10%;
        margin-top: 20px;
    }
    .header-logo > img{
        width: 300px; 
        height: 70%;
    }
    .mainMenu{
        position: fixed;
        top: 0;
        left: 23.5%;
        margin: 0;
        padding: 0;
        margin-top: 100px;
        min-width: 100%;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    footer{
        width: 100%;
        height: 150px;
        bottom: 0;
        font-size: 20px;
    }
    .footer-logo{
        margin-left: 70px;
    }
    .footer-logo > img{
        width: 100px;
        height: 40%;
        display: none;
    }
    .copyright{
        text-align: center;
        width: 80%;
        height: 35px;
        padding-top: 70px;
    }
    .footer-mainMenu {
        width: 300px;
        margin-left: 10%;
        height: 40px;
        position:relative;
        font-size: 10px;
        color: #000000;
      }
      .footer-mainMenu > h3{
        width:20%;
        text-align: left;
        color:#000000;
      }
      
      .footer-subMenu{
        width: 320px;
        display:flex;
        justify-content: space-between;
        position:absolute;
        top:35px;
        z-index:1;
      }
}
@media screen and (min-width:500px)and (max-width:600px) {
    header{
        width: 100%;
        height: 100px;
    }
    .header-logo{
        width: 100%;
        height: 100px;
        padding-left: 1%;
        margin-top: 20px;
    }
    .header-logo > img{
        width: 300px; 
        height: 70%;
    }
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 100px;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    footer{
        width: 100%;
        height: 150px;
        bottom: 0;
        font-size: 20px;
    }
    .footer-logo{
        margin-left: 70px;
    }
    .footer-logo > img{
        width: 100px;
        height: 40%;
        display: none;
    }
    .copyright{
        text-align: center;
        width: 80%;
        height: 35px;
        padding-top: 70px;
    }
    .footer-mainMenu {
        width: 300px;
        margin-left: 23%;
        height: 40px;
        position:relative;
        font-size: 10px;
        color: #000000;
      }
      .footer-mainMenu > h3{
        width:20%;
        text-align: left;
        color:#000000;
      }
      
      .footer-subMenu{
        width: 320px;
        display:flex;
        justify-content: space-between;
        position:absolute;
        top:35px;
        z-index:1;
      } 
}
@media screen  and (min-width:600px) and (max-width:700px){
    header{
        width: 100%;
        height: 100px;
    }
    .header-logo{
        width: 100%;
        height: 100px;
        padding-left: 10%;
        margin-top: 20px;
    }
    .header-logo > img{
        width: 300px; 
        height: 70%;
    }
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 100px;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    footer{
        width: 100%;
        height: 150px;
        bottom: 0;
        font-size: 20px;
    }
    .footer-logo{
        margin-left: 70px;
    }
    .footer-logo > img{
        width: 100px;
        height: 40%;
        display: none;
    }
    .copyright{
        text-align: center;
        width: 80%;
        height: 35px;
        padding-top: 70px;
    }
    .footer-mainMenu {
        width: 300px;
        margin-left: 30%;
        height: 40px;
        position:relative;
        font-size: 10px;
        color: #000000;
      }
      .footer-mainMenu > h3{
        width:20%;
        text-align: left;
        color:#000000;
      }
      
      .footer-subMenu{
        width: 320px;
        display:flex;
        justify-content: space-between;
        position:absolute;
        top:35px;
        z-index:1;
      }
}
@media screen and(min-width:700px) and(max-width:768px){
    header{
        width: 100%;
        height: 100px;
    }
    .header-logo{
        width: 100%;
        height: 100px;
        padding-left: 10%;
        margin-top: 20px;
    }
    .header-logo > img{
        width: 300px; 
        height: 70%;
    }
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 100px;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    footer{
        width: 100%;
        height: 150px;
        bottom: 0;
        font-size: 20px;
    }
    .footer-logo{
        margin-left: 70px;
    }
    .footer-logo > img{
        width: 100px;
        height: 40%;
        display: none;
    }
    .copyright{
        text-align: center;
        width: 80%;
        height: 35px;
        padding-top: 70px;
    }
    .footer-mainMenu {
        width: 300px;
        margin-left: 30%;
        height: 40px;
        position:relative;
        font-size: 10px;
        color: #000000;
      }
      .footer-mainMenu > h3{
        width:20%;
        text-align: left;
        color:#000000;
      }
      
      .footer-subMenu{
        width: 320px;
        display:flex;
        justify-content: space-between;
        position:absolute;
        top:35px;
        z-index:1;
      }
}
@media screen and(min-width:768px)and(max-width:820px){
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        width: 1024px;
        margin-top: 100px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    
    }
    footer{
        width: 100%;
    }
    .copyright{
        width: 40%;
        text-align: right;
        color: white;
        font-size: 10px;
    }
    .footer-logo > img{
        width: 250px;
        height: 100px;
        margin-right: 20px;
    }
    .footer-mainMenu {
        width: 300px;
        height: 40%;
        position:relative;
        font-size: 12px;
        color: #000000;
      }
      .footer-mainMenu > h3{
        width:20%;
        text-align: left;
        color:#000000;
      }
      
      .footer-subMenu{
        width: 320px;
        display:flex;
        justify-content: space-between;
        position:absolute;
        top:55px;
        z-index:1;
      }
}
@media screen and(min-width:820px)and(max-width:900px){
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    footer{
        font-family: 'GmarketSansMedium';
        bottom: 0;
        width: 100%;
        height: 150px;
        background-color: darkgray;
    }
    .footer-logo > img{
        width: 250px;
        height: 100px;
        float: left;
    }
    .copyright{
        width: 40%;
        text-align: left;
        color: white;
        font-size: 13px;
    }
    .footer-mainMenu {
        width: 400px;
        height: 40%; 
        display: flex;
        justify-content: space-between;
        align-items:center;
        position:relative;
        font-size: 15px;
        color: #000000;
      }
      .footer-mainMenu > h3{
        width:20%;
        text-align: left;
        color:#000000;
      }
      
      .footer-subMenu{
        width: 430px;
        display:flex;
        justify-content: space-between;
        position:absolute;
        top:55px;
        z-index:1;
        
      }
      .footer-subMenu > ul{
        width:25%;
        text-align: left;
      }
      .footer-subMenu > ul > li > a{
        color: #333536;
      }
      .footer-subMenu > ul > li > a:hover{
        color:#ffffff;
    
      }
}
@media screen and(min-width:900px) and (max-width:1024px){
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    footer{
        font-family: 'GmarketSansMedium';
        bottom: 0;
        width: 100%;
        height: 150px;
        background-color: darkgray;
    }
    .footer-logo > img{
        width: 250px;
        height: 100px;
        float: left;
    }
    .copyright{
        width: 40%;
        text-align: left;
        color: white;
        font-size: 13px;
    }
    .footer-mainMenu {
        width: 400px;
        height: 40%; 
        display: flex;
        justify-content: space-between;
        align-items:center;
        position:relative;
        font-size: 15px;
        color: #000000;
      }
      .footer-mainMenu > h3{
        width:20%;
        text-align: left;
        color:#000000;
      }
      
      .footer-subMenu{
        width: 430px;
        display:flex;
        justify-content: space-between;
        position:absolute;
        top:55px;
        z-index:1;
        
      }
      .footer-subMenu > ul{
        width:25%;
        text-align: left;
      }
      .footer-subMenu > ul > li > a{
        color: #333536;
      }
      .footer-subMenu > ul > li > a:hover{
        color:#ffffff;
    
      }
}
@media screen and(min-width:1024px)and(max-width:1200px){
    .mainMenu{
        position: fixed;
        top: 0;
        left: 0;
        width: 1024px;
        font-size: 30px;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        background-color: rgba(14, 25, 38, 0.9);   
    }
    .mainMenu.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(-100px);
        transition: 0.3s;
        
    }
    .mainMenu a{
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: center;
    }
    .more-btn{
        display: block;
        position: absolute;
        right: 40px;
        top: 8px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }
    .more-btn .icon{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    .more-btn.active .icon{
        background: url(./img/mobile_menu.png) no-repeat center;
        background-size: contain;
    }
    footer{
        font-family: 'GmarketSansMedium';
        bottom: 0;
        width: 100%;
        height: 150px;
        background-color: darkgray;
    }
    .footer-logo > img{
        width: 250px;
        height: 100px;
        float: left;
    }
    .copyright{
        width: 40%;
        text-align: left;
        color: white;
        font-size: 13px;
    }
    .footer-mainMenu {
        width: 400px;
        height: 40%; 
        display: flex;
        justify-content: space-between;
        align-items:center;
        position:relative;
        font-size: 15px;
        color: #000000;
      }
      .footer-mainMenu > h3{
        width:20%;
        text-align: left;
        color:#000000;
      }
      
      .footer-subMenu{
        width: 430px;
        display:flex;
        justify-content: space-between;
        position:absolute;
        top:55px;
        z-index:1;
        
      }
      .footer-subMenu > ul{
        width:25%;
        text-align: left;
      }
      .footer-subMenu > ul > li > a{
        color: #333536;
      }
      .footer-subMenu > ul > li > a:hover{
        color:#ffffff;
    
      }
    }
@media screen and(min-width:1200px)and(max-width:1440px){
    .header-logo{
        padding-right: 50px;
    }
}






  

