@charset "utf-8";
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family:'GyeonggiTitleM';
}
body{
    background-color:#ffffff;
    color:#2990d0;
    max-width: 100%;
    font-size: 25px;
}
.container{
    width: 100%;
    height: 2550px;
    margin: auto;
    padding: auto;
    resize: none;
}
a{
    text-decoration: none;
    display: inline;
}
header{
    width: 100%;
    height: 100px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap; 
    position:sticky;
    top:0;
    z-index: 4;   
}
header nav{
    margin: 100px;
}
.logo{
    padding-left: 200px;
    padding-right: 200px;
    width: 100px;
    height: 100px;
    float: left;
}
.meinMenu{
    width: 50%;
    height: 100%;
    display:flex;
    white-space: nowrap;
}
.mainMenu > a{
    width: 50%;
    padding: 40px 40px;
    text-align: center;
    color:#2990d0;
}
.mainMenu > a:hover{
    color: #000000;
    font-size: 28px;
}
.contents{
    width: 100%;
    height: 850px;
}
.jb-box { 
    width: 100%; 
    height: 850px; 
    margin: 0px auto; 
    position: relative; 
    float: left;
}
.contents > .jb-box > video{
    width: 100%;
    height: 850px;
    background-color: #2990d0;
} 
.jb-text { 
    position: absolute; 
    top: 0; 
    width: 100%; 
}
.jb-text img { 
    width: 100%;
    height: 850px;
    margin-top: 0; 
    float: right;
    color: #ffffff; 
}
.jb-texts h1{ 
    position: absolute; 
    top: 290px; 
    width: 80%; 
    text-align: right;
    color: white;
    font-size: 100px;
}
.jb-texts h3{ 
    position: absolute; 
    top: 220px; 
    width: 88%; 
    text-align: right;
    color: white;
    font-size: 60px;
}
.jb-texts h4{ 
    position: absolute; 
    top: 400px; 
    width: 77%; 
    text-align: right;
    color: white;
    font-size: 40px;
}
.banner{
    width: 100%;
    height: 1700px;
}
.first-banner{ 
    background-color: #000000;
    height: 850px;
}
.video-one{
    padding-left: 10%;
    padding-top: 5%;
    float: left;
}
.fir-ba-text{
    float:right;
    padding-right: 10%;
    padding-top: 15%;
}
.second-baaner{
    background-color: #000000;
    height: 850px;
}
.video-two{
    padding-right: 10%;
    float: right;
}
.sec-ba-text{
    padding-left: 10%;
    padding-top:15%;
    float:left;
}
.video-one{
    height: 50%;
}
.video-two{
    height: 50%;
}
footer{
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: darkgray;
}
.footer-logo > a > img{
    width: 90px;
    height: 90px;
    float: left;
    padding-top: 0.3%;
    margin-left: 20%;
}
.copyright{
    float:left;
    width: 1000px;
    text-align: center;
    color: white;
    padding-top: 2%;
}