@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansMedium';
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    max-width: 100%;
    height: 14900px;
    background-color: #000;
}
header{
    width: 100%;
    height: 100px;
    background: #000;
    font-family:'GyeonggiTitleM';
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap; 
    position:fixed;
    top:0;
    z-index: 4;   
}
i{
    color: #fff;
    font-size: 50px;
}
header nav{
    margin-right: 100px;
}
.header-logo{
    padding-left: 200px;
    padding-right: 200px;
    width: 500px;
    height: 100px;
    float: left;
}
.header-logo > img {
    width: 500px;
    height: 100px;
}
.meinMenu{
    width: 50%;
    height: 100%;
    display:flex;
    white-space: nowrap;
}
.mainMenu > a{
    width: 50%;
    padding: 40px 40px;
    text-align: center;
    font-size: 20px;
    color:#2990d0;
}
.mainMenu > a:hover{
    color: #fff;
    font-size: 28px;
}
.Introduction{
    margin-top: 100px;
    width: 100%;
    height: 850px;
    color: #fff;
    font-size: 50px;
    float: left;
    text-align: center;
    padding-top: 50%;
}
.lwh{
    width: 50%;
    float: left;
    height: 50%;
}
.lwh-contents{
    width: 50%;
    float: right;
    height: 50%;
}
.lcm{
    width: 50%;
    float: left;
    height: 50%;
}
.lcm-contents{
    width: 50%;
    float: right;
    height: 50%;
}
img{
    width: 50%;
    height: 50%;
}
.int{
    width: 100%;
    float: left;
    height: 600px;
    padding-left: 40%;
}
section h2{
  color: #fff;
  font-size: 28px;
}
.int-two{
    width: 100%;
    float: right;
    height: 600px;
}

footer{
    font-family: 'GmarketSansMedium';
    width: 100%;
    height: 150px;
    background-color: darkgray;
    float: left;
    
}
.footer-logo{
    width: 300px;
    margin: 0;
    padding: 0;
    height: 0;
}
.footer-logo > img{
    width: 300px;
    height: 100px;
    float: left;
    padding-top: 0.3%;
    margin-left: 95%;
    margin-right: 60%;
}

.copyright{
    width: 24%;
    text-align: right;
    color: white;
    padding-left: 10%;
    font-size: 15px;
    height: 40px;
}
.footer-mainMenu {
    width: 700px;
    height: 40%; 
    display: flex;
    justify-content: space-between;
    align-items:center;
    position:relative;
    font-size: 18px;
    color: #000000;
  }
  .footer-mainMenu > h3{
    width:20%;
    text-align: left;
    color:#000000;
  }
  
  .footer-subMenu{
    width: 750px;
    display:flex;
    justify-content: space-between;
    position:absolute;
    top:55px;
    z-index:1;
    
  }
  .footer-subMenu > ul{
    width:25%;
    text-align: left;
  }
  .footer-subMenu > ul > li > a{
    color: #333536;
  }
  .footer-subMenu > ul > li > a:hover{
    color:#ffffff;
  }
  .more-btn{
    display: none;
  }
.lwh{
    height: 6600px;
}
.lcm{
    height: 6600px;
}