@charset "utf-8";
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family:'GyeonggiTitleM';
}
body{
    background-color:#fff;
    color:#2990d0;
    width: 100%;
    font-size: 20px;
    height: 100%;
}
#wrap{
    height: auto;
  min-height: 100%;
  padding-bottom: 100px;
}
a{
    text-decoration: none;

}
header{
    width: 90%;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > .logo > img{
    padding:0;
    width: 100px;
    height: 100px;
}
.logo{
    padding: 300px;
    width: 100px;
    height: 100px;
    float: left;
}
.meinMenu{
    width: 1000px;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    
}
.mainMenu > a{
    width: 40%;
    padding: 40px 40px;
    text-align: center;
    color:#2990d0;
}
.mainMenu > a:hover{
    color: #0c527d;
}
.contents{
    width: 100%;
    height: 600px;
    color:white;
}
.text-two{
    top:35%;
    left: 59%;
    position: absolute;
    font-size: 60px;
    color: white;
}
.text-one{
    top: 28%;
    position: absolute;
    left: 60%;
    font-size: 70px;
    color: white;
}
.text-three{
    top: 50%;
    position: absolute;
    left: 60%;
    font-size: 40px;
    color: white;
}
h1{
    margin: 10px;
}
.contents > .imgs > img{
    padding: 0;
    margin: 0;
    height: 600px;
    width: 100%;
    position: absolute;
    vertical-align: middle;
}
.left{
    width : 50%;
    height: 500px;
    background-color: black;
}
.left > div{
    text-align: center;
}
.right{
    width: 50%;
    height: 500px;
    background-color: black;
}
.right > div{
    text-align: center;
}
button{
    
}
footer{
    bottom: 0;
    width: 100%;
    height: 100px;
    position : fixed;
    background-color: darkgray;
}
footer > div{
    float: left;
    height: 100px;
}
footer > .footer-logo > img{
    width: 100px;
    height: 100px;
}
.footer-logo{
    padding-left: 300px;
    width: 200px;
    height: 200px;
}
.yong{
    width: 30%;
}
.copyright{
    width: 30%;
}